.slick-slide div {
  display: flex;
  margin-right: 10px;
  width: 100%;
  overflow: hidden;
}

/* .slick-slide {
    display: flex;
    margin: 5px;
    overflow: hidden;
  } */
  
.slick-slide:last-of-type {
  width: 50%;
}

.kowaja-img-slide {
  max-width: 100%;
}
.half-image {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
