/* Kowaja CSS  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

body {
  font-family: "Poppins", sans-serif;
  color: #0a0a0a;
}

a {
  text-decoration: none;
  color: #0a0a0a;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}

/* Styling untuk scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #30a248;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b9141;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-kowaja {
  width: 15rem;
  padding: 1.3rem;
}

.sidebar-kowaja ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.icon-sidebar {
  margin-right: 5px;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

*[dir="rtl"] .mfs-3,
html:not([dir="rtl"]) .mfe-3 {
  margin-right: 1rem !important;
}

*[dir="rtl"] .mfe-3 {
  margin-left: 1rem !important;
}

.kowaja-auth-wrapper {
  height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

.kowaja-form-auth-wrapper form {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  max-height: 500px;
}

.kowaja-form-auth-wrapper form.leave {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}



.sign-in,
.sign-up {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.sign-in.active {
  border-bottom: 2px solid #30a248;
}

.sign-up.active {
  border-bottom: 2px solid #30a248;
}

.image-bg-auth {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 400px;
}

.img-banner-wrapper {
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.img-banner {
  /* position: absolute; */
  /* width: 100%; */
  max-height: 400px;
}

@media (max-width: 768px) {
  .image-bg-auth {
    max-height: auto;
    position: relative;
  }

  .img-banner {
    position: relative;
    max-height: auto;
  }
}

/* Kowaja custom coloring  */
.bg-linear-1 {
  background: linear-gradient(#30a248, #7fe77d);
}

.overlay-bg-linear {
  background: radial-gradient(80.44% 205.92% at 11.69% 11.7%,
      rgb(255 255 255 / 18%) 0%,
      rgba(255, 255, 255, 0.1) 100%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.kowaja-login {
  font-size: 12px;
}

.kowaja-auth-captions {
  max-width: 376px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kowaja-form-auth-wrapper {
  margin: 20px auto;
  padding: 40px;
}

label {
  color: #0a0a0a;
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* kowaja input  */
input.kowaja-input {
  margin-top: 0.2rem;
  font-size: 12px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn-kowaja {
  background: linear-gradient(180deg, #30a248, #7fe77d);
  background-size: 100% 100%;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn-kowaja:hover {
  background: linear-gradient(180deg, #4fbf4f, #a4f0a4);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.rectangle-banner-1 {
  position: absolute;
  border-radius: 10px;
  width: 40px;
  height: 14px;
  bottom: 10px;
  left: 10px;
  margin: 20px;
  background: #d6ecd5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ellipse-banner-2 {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  bottom: 10px;
  left: 60px;
  margin: 20px;
  background: #d6ecd5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.font-1 {
  font-family: Mulish;
}

/* Navbar Kowaja  */
.navbar-kowaja {
  background: #fdfdfd;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: 0px 2px 2px rgba(163, 171, 185, 0.26);
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin-top: 0;
  border: 0;
  padding: 0 0 10px 2;
}

.navbar-expand .navbar-nav .nav-link:hover,
.navbar-expand .navbar-nav .nav-link:active
{
  background:
    #3aab4f;
    color:#fff;
}
.search-kowaja {
  background: #fdfdfd;
  box-shadow: 0px 1px 10px rgba(16, 24, 40, 0.1),
    0px 1px 8px rgba(16, 24, 40, 0.06);
  border-radius: 54px;
}

.card-kowaja-white {
  background: #fdfdfd;
  box-shadow: 0px 1px 6px rgba(16, 24, 40, 0.1),
    0px 1px 5px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  border: none;
  overflow: hidden;
  padding: 1rem;
}

.card-kowaja-linear {
  background: linear-gradient(180deg,
      rgba(103, 241, 38, 0.729) 0%,
      rgba(10, 247, 5, 0.9) 100%);
  box-shadow: 0px 1px 6px rgba(16, 24, 40, 0.1),
    0px 1px 5px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  border: none;
  overflow: hidden;
  padding: 1rem;
}

.card-kowaja-users-dashboard {
  background: #fdfdfd;
  box-shadow: 0px 1px 6px rgba(16, 24, 40, 0.1),
    0px 1px 5px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  border: none;
  overflow: hidden;
  padding-top: 1rem;
}

.link-sidebar-kowaja {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 1rem;
}

.link-sidebar-kowaja.active {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  background: linear-gradient(180deg, #30a248, #7fe77d);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 1rem;
  margin-bottom: 5px;
}

.upload-file-kowaja {
  font-size: 1rem;
}


.drop-area {
  border: 1px solid #30a248;
  /* Card Shadow */
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px 0px;
  text-align: center;
}

.drop-area span,
.browse-button {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  text-transform: none;
}

.drop-area.dragging {
  background-color: #f5f5f5;
}

.selected-file {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-file span {
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.fc-kowaja {
  border: 1px solid #30a248;
  box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.1);
  border-radius: 8px;
}

.f-color-heading-ads {
  color: #616161;
}

.table-kowaja thead th {
  background: #BBE0B9;
  padding: 15px;
  border-right: 15px solid #fff;
}

.table-kowaja tbody td {
  padding: 15px;
  border-right: 15px solid #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}